In [3]:
import pandas as pd
import numpy as np

In [7]:
sample_sub = pd.read_csv("alg_sample_submission.csv")
ICM = pd.read_csv("data_ICM_title_abstract.csv")
targets = pd.read_csv("data_target_users_test.csv")
URM = pd.read_csv("data_train.csv")

In [6]:
sample_sub

      user_id            item_list
0           0  0 1 2 3 4 5 6 7 8 9
1           1  0 1 2 3 4 5 6 7 8 9
2           2  0 1 2 3 4 5 6 7 8 9
3           3  0 1 2 3 4 5 6 7 8 9
4           4  0 1 2 3 4 5 6 7 8 9
...       ...                  ...
7939     7942  0 1 2 3 4 5 6 7 8 9
7940     7943  0 1 2 3 4 5 6 7 8 9
7941     7944  0 1 2 3 4 5 6 7 8 9
7942     7945  0 1 2 3 4 5 6 7 8 9
7943     7946  0 1 2 3 4 5 6 7 8 9

[7944 rows x 2 columns]

In [8]:
ICM

          row    col      data
0           0   1185  1.015524
1           0   2507  0.459024
2           0   3534  0.227742
3           0   8766  0.501549
4           0  10862  0.297011
...       ...    ...       ...
490686  25974  12554  0.963016
490687  25974  13003  0.104613
490688  25974  16236  0.118760
490689  25974  18797  0.363301
490690  25974  19629  0.129141

[490691 rows x 3 columns]

In [9]:
targets

      user_id
0           0
1           1
2           2
3           3
4           4
...       ...
7939     7942
7940     7943
7941     7944
7942     7945
7943     7946

[7944 rows x 1 columns]

In [10]:
URM

         row    col  data
0          0  10080   1.0
1          0  19467   1.0
2          1   2665   1.0
3          1   7494   1.0
4          1  17068   1.0
...      ...    ...   ...
113263  7945   2476   1.0
113264  7945  12319   1.0
113265  7945  21384   1.0
113266  7946   8699   1.0
113267  7946  19178   1.0

[113268 rows x 3 columns]

In [13]:
def preprocess_data(ratings: pd.DataFrame):
    unique_users = ratings.row.unique()
    unique_items = ratings.col.unique()
    
    num_users, min_user_id, max_user_id = unique_users.size, unique_users.min(), unique_users.max()
    num_items, min_item_id, max_item_id = unique_items.size, unique_items.min(), unique_items.max()
    
    print(num_users, min_user_id, max_user_id)
    print(num_items, min_item_id, max_item_id)
    
    mapping_user_id = pd.DataFrame({"mapped_user_id": np.arange(num_users), "user_id": unique_users})
    mapping_item_id = pd.DataFrame({"mapped_item_id": np.arange(num_items), "item_id": unique_items})
    
    ratings = pd.merge(left=ratings, 
                       right=mapping_user_id,
                       how="inner",
                       on="user_id")
    
    ratings = pd.merge(left=ratings, 
                       right=mapping_item_id,
                       how="inner",
                       on="item_id")
    
    return ratings

In [14]:
preprocess_data(URM)

7947 0 7946
24896 0 25974

KeyError: 'user_id'

In [15]:
7947 * 24896

197848512